<style>
    ul.nav li {
        float: left;
        padding-left: 10px;
    }
    header {
        padding-bottom: 30px;
    }
</style>
<header>
    <ul class="nav" style="list-style:none;">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>

</header>

<h1>{{pageTitle}}</h1>